<div class="row">

  <h1>About KidCode.com</h1>

  <p>
    KidCode.com is an educational web site for kids to learn programming in an amusing way. The materials are selected especially for kids, so that they can understand the meaterials for each level and can learn HTML, CSS by playing with them.
  </p>

  <p>
    This site was initially created a group of Junior RubyonRails developers. KidCode.com is maintained by Darina Jeleva, Sophia Takeva and other members of the local Rails Girls Study Groups. Each idea and contribution will be highly appreciated.
    Please visit our GitHub repository and think about giving an idea or adding a feature.
  </p>

</div>