<h1>Parts</h1>
 <%# DATA.inspect %>

<table>
   
  <% @parts.each do |part| %>
    
      <p><%= link_to part.name, part_path(part) %>
      <%= link_to "Delete", part_path(part), method: :delete, data: { confirm: 'Lots of parts. Too many? So you want to get rid of this one, huh?' }, class:"action" %></p>
    
  <% end %>
  <br>
  <%= link_to "Create", new_part_path %>

</table>