<!DOCTYPE html>
<head>
	<title>How far are you</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<div style = "padding:5%; font-size:40px;">
		<p>You've come a long way, my friend!</p>
	</div>
</body>
</html>