<h1>Levels</h1>

<!-- level or level part? -->

<table>
   
  <% @levels.each do |level| %>
    
      <p><%= link_to level.name, part_level_path(level) %>
      <%= link_to "Delete", part_level_path(level), method: :delete, data: { confirm: 'Levels mean nothing to me. I want to destruct this one, yes!' }, class:"action" %></p>
    
  <% end %>
  <br>
  <%= link_to "Create", new_part_level_path %>

</table>