<!DOCTYPE html>
<html>
<head>
  <title>Just Kidding App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "header">
		<nav>
			<ul class="menu">
			<li><a href="about">About the Project</a></li>
			<li><a href="levels_front">Levels</a></li>
			<li><a href="howfar">How far are you</a></li>
			</ul>
		</nav>
		<div class = "signing">
			<%# if user_signed_in? %>
				<a href="#" class = "signup">Create an account</a>
				<a href="#" class = "login">Log in</a>
			<%# else %>
				<a href="#" class = "logout">Log out</a>
			<%# end %>
		</div>
	</div>
	<div class = "clear"></div>
<%= yield %>

</body>
</html>
